@keyframes swipeCards {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-swipe {
  animation: swipeCards 6s ease-in-out infinite;
}